In [29]:
import tushare_data

In [30]:
_df=tushare_data.stone.select(tushare_data.str_report,'code="000001" | code="000002"')

In [31]:
_df

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date,year_quarter
341,000002,万科A,NaN,NaN,4.49,NaN,-0.48,11458.67,34.24,NaN,08-15,2000-2
852,000001,平安银行,NaN,NaN,1.98,NaN,0.11,17795.28,-26.14,NaN,07-26,2000-2
362,000001,平安银行,NaN,NaN,2.44,30.65,0.82,50655.18,-8.76,NaN,04-14,2000-4
759,000002,万科A,NaN,NaN,4.61,10.69,0.14,30123.15,31.46,10派1.8,03-20,2000-4
0,000001,平安银行,NaN,NaN,NaN,NaN,NaN,13882.84,NaN,NaN,04-23,2001-1
466,000002,万科A,NaN,NaN,4.83,5.76,-1.15,17045.95,48.76,NaN,08-14,2001-2
0,000001,平安银行,NaN,NaN,NaN,NaN,NaN,36508.12,NaN,NaN,10-25,2001-3
388,000001,平安银行,0.21,NaN,1.86,10.82,7.52,40236.04,-20.57,10派1.5,04-19,2001-4
1031,000002,万科A,NaN,NaN,4.95,12.21,-1.91,37374.72,24.07,10派2,03-15,2001-4
810,000002,万科A,NaN,NaN,5.00,NaN,NaN,3055.60,NaN,NaN,04-23,2002-1
826,000001,平安银行,NaN,NaN,NaN,NaN,NaN,18395.11,32.50,NaN,04-23,2002-1
370,000002,万科A,NaN,NaN,5.18,4.45,-0.33,14215.69,-16.60,NaN,08-21,2002-2
666,000001,平安银行,0.16,39.13,2.03,7.71,-5.33,31414.13,40.74,NaN,08-14,2002-2
469,000002,万科A,NaN,NaN,5.25,NaN,NaN,18707.95,NaN,NaN,10-28,2002-3
808,000001,平安银行,NaN,NaN,2.09,NaN,NaN,41964.20,14.94,NaN,10-25,2002-3
319,000001,平安银行,0.20,-4.76,1.94,11.24,4.39,43222.49,7.42,10派1.5,04-24,2002-4
1006,000002,万科A,NaN,NaN,5.36,11.54,0.20,38242.13,2.32,10派2转10,03-18,2002-4
721,000001,平安银行,NaN,NaN,2.02,NaN,NaN,15331.31,-16.66,NaN,04-24,2003-1
814,000002,万科A,NaN,NaN,5.42,NaN,NaN,4092.80,33.94,NaN,04-23,2003-1
450,000001,平安银行,0.14,-12.50,2.23,6.44,NaN,27034.07,-13.94,NaN,08-20,2003-2
1042,000002,万科A,NaN,NaN,3.10,5.55,-0.15,20681.53,45.48,NaN,07-29,2003-2
449,000002,万科A,NaN,NaN,3.17,NaN,NaN,27291.95,45.88,NaN,10-28,2003-3
576,000001,平安银行,0.16,-20.00,2.04,7.86,-0.86,31654.57,-26.76,NaN,04-15,2003-4
1172,000002,万科A,NaN,NaN,3.37,12.98,-1.06,54227.07,41.80,NaN,03-09,2003-4
1040,000002,万科A,NaN,NaN,3.61,NaN,NaN,10493.45,156.39,NaN,04-19,2004-1
1155,000001,平安银行,NaN,NaN,2.15,NaN,NaN,21436.80,39.82,NaN,04-15,2004-1
35,000001,平安银行,NaN,NaN,2.18,6.96,NaN,28572.07,5.69,NaN,08-31,2004-2
930,000002,万科A,NaN,NaN,2.48,5.94,-0.56,31474.95,52.19,NaN,08-06,2004-2
276,000002,万科A,NaN,NaN,2.51,NaN,NaN,38510.21,41.10,NaN,10-28,2004-3
301,000002,万科A,NaN,NaN,2.51,NaN,NaN,38510.21,41.10,NaN,10-28,2004-3
...,...,...,...,...,...,...,...,...,...,...,...,...
202,000002,万科A,NaN,NaN,2.55,NaN,NaN,7002.41,NaN,10派0.6送5,12-31,1992-4
33,000002,万科A,NaN,NaN,NaN,NaN,NaN,8181.33,NaN,NaN,08-22,1993-2
55,000001,平安银行,NaN,NaN,NaN,NaN,NaN,13746.63,63.52,NaN,08-11,1993-2
192,000002,万科A,NaN,NaN,5.06,NaN,NaN,15340.53,119.08,NaN,04-26,1993-4
243,000001,平安银行,NaN,NaN,4.47,NaN,NaN,27331.00,58.80,10派5送3转2,04-16,1993-4
24,000001,平安银行,NaN,NaN,5.62,NaN,NaN,20790.63,51.24,NaN,08-30,1994-2
110,000002,万科A,NaN,NaN,4.00,NaN,NaN,7580.61,-7.34,NaN,08-20,1994-2
363,000002,万科A,NaN,NaN,4.48,NaN,NaN,17336.79,13.01,10派1.5送1.5,04-24,1994-4
531,000001,平安银行,NaN,NaN,3.84,NaN,NaN,35632.80,30.38,NaN,03-10,1994-4
137,000002,万科A,NaN,NaN,4.01,NaN,NaN,6417.85,-15.34,NaN,08-23,1995-2
207,000001,平安银行,0.50,NaN,4.32,NaN,NaN,21650.11,4.13,NaN,08-11,1995-2
579,000002,万科A,NaN,NaN,4.10,NaN,NaN,14745.24,-14.95,10派1.4送1,04-25,1995-4
722,000001,平安银行,NaN,NaN,3.78,NaN,NaN,43512.91,22.11,10送5转5,03-14,1995-4
119,000001,平安银行,0.35,-30.00,2.24,NaN,NaN,36422.68,68.23,NaN,08-29,1996-2
141,000001,平安银行,0.35,-30.00,2.24,NaN,NaN,36422.68,68.23,NaN,08-29,1996-2
180,000002,万科A,NaN,NaN,4.29,NaN,NaN,5360.10,-16.48,NaN,08-28,1996-2
526,000001,平安银行,0.76,NaN,2.45,NaN,NaN,78747.90,80.98,10派2送5,04-21,1996-4
635,000002,万科A,NaN,NaN,4.21,NaN,NaN,14966.33,1.50,10派1送1.5,04-10,1996-4
155,000001,平安银行,0.43,22.86,2.88,NaN,NaN,44373.81,21.83,NaN,08-28,1997-2
474,000002,万科A,NaN,NaN,3.84,NaN,NaN,6567.69,22.53,NaN,08-15,1997-2
481,000002,万科A,NaN,NaN,3.84,NaN,NaN,6567.69,22.53,NaN,08-15,1997-2
537,000002,万科A,NaN,NaN,4.07,NaN,NaN,18712.40,25.03,10派1.5送1,04-08,1997-4
675,000001,平安银行,NaN,NaN,2.19,NaN,NaN,86231.61,9.50,NaN,03-21,1997-4
91,000001,平安银行,0.24,-43.49,2.43,NaN,NaN,37801.31,-14.81,NaN,08-26,1998-2
390,000002,万科A,NaN,NaN,4.26,NaN,NaN,8250.58,25.62,NaN,08-14,1998-2
403,000001,平安银行,NaN,NaN,2.37,NaN,NaN,76433.92,-11.36,NaN,04-23,1998-4
534,000002,万科A,NaN,NaN,4.01,10.57,-0.28,20209.29,8.00,10派1送1,04-14,1998-4
830,000001,平安银行,NaN,NaN,2.52,NaN,0.27,24091.86,-36.27,10派6,07-17,1999-2
413,000001,平安银行,NaN,NaN,1.87,NaN,3.01,55519.11,-27.36,NaN,04-19,1999-4
711,000002,万科A,NaN,NaN,3.84,NaN,0.08,22914.23,13.38,10派1.5,03-30,1999-4

In [32]:
# 加上一列，表示季度差值的
_df['_quarter_sub'] = tushare_data.quarter_sub_func(_df['year_quarter'], '2017-4')
_df

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date,year_quarter,_quarter_sub
341,000002,万科A,NaN,NaN,4.49,NaN,-0.48,11458.67,34.24,NaN,08-15,2000-2,-70
852,000001,平安银行,NaN,NaN,1.98,NaN,0.11,17795.28,-26.14,NaN,07-26,2000-2,-70
362,000001,平安银行,NaN,NaN,2.44,30.65,0.82,50655.18,-8.76,NaN,04-14,2000-4,-68
759,000002,万科A,NaN,NaN,4.61,10.69,0.14,30123.15,31.46,10派1.8,03-20,2000-4,-68
0,000001,平安银行,NaN,NaN,NaN,NaN,NaN,13882.84,NaN,NaN,04-23,2001-1,-67
466,000002,万科A,NaN,NaN,4.83,5.76,-1.15,17045.95,48.76,NaN,08-14,2001-2,-66
0,000001,平安银行,NaN,NaN,NaN,NaN,NaN,36508.12,NaN,NaN,10-25,2001-3,-65
388,000001,平安银行,0.21,NaN,1.86,10.82,7.52,40236.04,-20.57,10派1.5,04-19,2001-4,-64
1031,000002,万科A,NaN,NaN,4.95,12.21,-1.91,37374.72,24.07,10派2,03-15,2001-4,-64
810,000002,万科A,NaN,NaN,5.00,NaN,NaN,3055.60,NaN,NaN,04-23,2002-1,-63
826,000001,平安银行,NaN,NaN,NaN,NaN,NaN,18395.11,32.50,NaN,04-23,2002-1,-63
370,000002,万科A,NaN,NaN,5.18,4.45,-0.33,14215.69,-16.60,NaN,08-21,2002-2,-62
666,000001,平安银行,0.16,39.13,2.03,7.71,-5.33,31414.13,40.74,NaN,08-14,2002-2,-62
469,000002,万科A,NaN,NaN,5.25,NaN,NaN,18707.95,NaN,NaN,10-28,2002-3,-61
808,000001,平安银行,NaN,NaN,2.09,NaN,NaN,41964.20,14.94,NaN,10-25,2002-3,-61
319,000001,平安银行,0.20,-4.76,1.94,11.24,4.39,43222.49,7.42,10派1.5,04-24,2002-4,-60
1006,000002,万科A,NaN,NaN,5.36,11.54,0.20,38242.13,2.32,10派2转10,03-18,2002-4,-60
721,000001,平安银行,NaN,NaN,2.02,NaN,NaN,15331.31,-16.66,NaN,04-24,2003-1,-59
814,000002,万科A,NaN,NaN,5.42,NaN,NaN,4092.80,33.94,NaN,04-23,2003-1,-59
450,000001,平安银行,0.14,-12.50,2.23,6.44,NaN,27034.07,-13.94,NaN,08-20,2003-2,-58
1042,000002,万科A,NaN,NaN,3.10,5.55,-0.15,20681.53,45.48,NaN,07-29,2003-2,-58
449,000002,万科A,NaN,NaN,3.17,NaN,NaN,27291.95,45.88,NaN,10-28,2003-3,-57
576,000001,平安银行,0.16,-20.00,2.04,7.86,-0.86,31654.57,-26.76,NaN,04-15,2003-4,-56
1172,000002,万科A,NaN,NaN,3.37,12.98,-1.06,54227.07,41.80,NaN,03-09,2003-4,-56
1040,000002,万科A,NaN,NaN,3.61,NaN,NaN,10493.45,156.39,NaN,04-19,2004-1,-55
1155,000001,平安银行,NaN,NaN,2.15,NaN,NaN,21436.80,39.82,NaN,04-15,2004-1,-55
35,000001,平安银行,NaN,NaN,2.18,6.96,NaN,28572.07,5.69,NaN,08-31,2004-2,-54
930,000002,万科A,NaN,NaN,2.48,5.94,-0.56,31474.95,52.19,NaN,08-06,2004-2,-54
276,000002,万科A,NaN,NaN,2.51,NaN,NaN,38510.21,41.10,NaN,10-28,2004-3,-53
301,000002,万科A,NaN,NaN,2.51,NaN,NaN,38510.21,41.10,NaN,10-28,2004-3,-53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,000002,万科A,NaN,NaN,2.55,NaN,NaN,7002.41,NaN,10派0.6送5,12-31,1992-4,-100
33,000002,万科A,NaN,NaN,NaN,NaN,NaN,8181.33,NaN,NaN,08-22,1993-2,-98
55,000001,平安银行,NaN,NaN,NaN,NaN,NaN,13746.63,63.52,NaN,08-11,1993-2,-98
192,000002,万科A,NaN,NaN,5.06,NaN,NaN,15340.53,119.08,NaN,04-26,1993-4,-96
243,000001,平安银行,NaN,NaN,4.47,NaN,NaN,27331.00,58.80,10派5送3转2,04-16,1993-4,-96
24,000001,平安银行,NaN,NaN,5.62,NaN,NaN,20790.63,51.24,NaN,08-30,1994-2,-94
110,000002,万科A,NaN,NaN,4.00,NaN,NaN,7580.61,-7.34,NaN,08-20,1994-2,-94
363,000002,万科A,NaN,NaN,4.48,NaN,NaN,17336.79,13.01,10派1.5送1.5,04-24,1994-4,-92
531,000001,平安银行,NaN,NaN,3.84,NaN,NaN,35632.80,30.38,NaN,03-10,1994-4,-92
137,000002,万科A,NaN,NaN,4.01,NaN,NaN,6417.85,-15.34,NaN,08-23,1995-2,-90
207,000001,平安银行,0.50,NaN,4.32,NaN,NaN,21650.11,4.13,NaN,08-11,1995-2,-90
579,000002,万科A,NaN,NaN,4.10,NaN,NaN,14745.24,-14.95,10派1.4送1,04-25,1995-4,-88
722,000001,平安银行,NaN,NaN,3.78,NaN,NaN,43512.91,22.11,10送5转5,03-14,1995-4,-88
119,000001,平安银行,0.35,-30.00,2.24,NaN,NaN,36422.68,68.23,NaN,08-29,1996-2,-86
141,000001,平安银行,0.35,-30.00,2.24,NaN,NaN,36422.68,68.23,NaN,08-29,1996-2,-86
180,000002,万科A,NaN,NaN,4.29,NaN,NaN,5360.10,-16.48,NaN,08-28,1996-2,-86
526,000001,平安银行,0.76,NaN,2.45,NaN,NaN,78747.90,80.98,10派2送5,04-21,1996-4,-84
635,000002,万科A,NaN,NaN,4.21,NaN,NaN,14966.33,1.50,10派1送1.5,04-10,1996-4,-84
155,000001,平安银行,0.43,22.86,2.88,NaN,NaN,44373.81,21.83,NaN,08-28,1997-2,-82
474,000002,万科A,NaN,NaN,3.84,NaN,NaN,6567.69,22.53,NaN,08-15,1997-2,-82
481,000002,万科A,NaN,NaN,3.84,NaN,NaN,6567.69,22.53,NaN,08-15,1997-2,-82
537,000002,万科A,NaN,NaN,4.07,NaN,NaN,18712.40,25.03,10派1.5送1,04-08,1997-4,-80
675,000001,平安银行,NaN,NaN,2.19,NaN,NaN,86231.61,9.50,NaN,03-21,1997-4,-80
91,000001,平安银行,0.24,-43.49,2.43,NaN,NaN,37801.31,-14.81,NaN,08-26,1998-2,-78
390,000002,万科A,NaN,NaN,4.26,NaN,NaN,8250.58,25.62,NaN,08-14,1998-2,-78
403,000001,平安银行,NaN,NaN,2.37,NaN,NaN,76433.92,-11.36,NaN,04-23,1998-4,-76
534,000002,万科A,NaN,NaN,4.01,10.57,-0.28,20209.29,8.00,10派1送1,04-14,1998-4,-76
830,000001,平安银行,NaN,NaN,2.52,NaN,0.27,24091.86,-36.27,10派6,07-17,1999-2,-74
413,000001,平安银行,NaN,NaN,1.87,NaN,3.01,55519.11,-27.36,NaN,04-19,1999-4,-72
711,000002,万科A,NaN,NaN,3.84,NaN,0.08,22914.23,13.38,10派1.5,03-30,1999-4,-72

In [33]:
# 近一年的财报
_df_2 = _df.loc[((_df['_quarter_sub'] < 1) & (_df['_quarter_sub'] > -4))]
_df_2

,code,name,eps,eps_yoy,bvps,roe,epcf,net_profits,profits_yoy,distrib,report_date,year_quarter,_quarter_sub
1346,000002,万科A,0.06,-16.00,NaN,0.61,NaN,69541.16,-16.54,NaN,04-28,2017-1,-3
2888,000001,平安银行,0.31,-27.91,10.94,2.89,-6.70,621400.00,2.10,NaN,04-22,2017-1,-3
1701,000002,万科A,0.66,36.19,10.20,6.22,1.98,730272.40,36.47,NaN,08-25,2017-2,-2
1791,000002,万科A,0.66,36.19,10.20,6.22,1.98,730272.40,36.47,NaN,08-25,2017-2,-2
3094,000001,平安银行,0.68,-5.56,11.15,6.21,-7.47,1255400.00,2.13,NaN,08-11,2017-2,-2
1851,000002,万科A,1.01,34.36,NaN,9.53,NaN,1109100.09,34.23,NaN,10-27,2017-3,-1
3232,000001,平安银行,1.06,-2.75,11.54,9.60,-9.20,1915300.00,2.32,NaN,10-21,2017-3,-1

In [34]:
_group=_df_2.groupby(['code'])
_group

In [43]:
_group.roe.mean()

code
000001    6.233333
000002    5.645000
Name: roe, dtype: float64

In [44]:
type(_group.roe.mean())

pandas.core.series.Series

In [45]:
import pandas as pd

In [46]:
pd.DataFrame(_group.roe.mean())

             roe
code
000001  6.233333
000002  5.645000

In [50]:
_mean=pd.DataFrame(_group.roe.mean())
_mean

             roe
code
000001  6.233333
000002  5.645000

In [53]:
_mean[_mean['roe']>6].index

Index(['000001'], dtype='object', name='code')